<!doctype html>

<html>
  <body>
    <h1>FreekGolf!!!</h1>
    <a href="/" class="button">Home</a>

    <h2>Select Your Course</h2>
    <a href="reserve.html" class="button">Haverford Reserve</a>
    <a href="sedgely.html" class="button">Sedgely Woods</a>
    <a class="button">Course 3</a>
  </body>

  <style>
    .button {
      display: inline-block;
      padding: 12px 24px;
      background-color: #5c51a0;
      color: white;
      text-decoration: none;
      border-radius: 8px;
      font-size: 1.5rem;
    }
  </style>
</html>
